<div style="text-align: center; font-family: sans-serif; background-color: rgb(167, 233, 255); height: 100%; padding: 1rem;">
  <div style="background-color: #fff; border-radius: 5px; max-width: 400px; margin: 0 auto; padding: 1rem;">
    <h1>An Error Occurred</h1>
    <p>There was an error fetching/sending new dogs.</p>
    <p>
      <pre>{{err.stack}}</pre>
    </p>
  </div>
</div>
